<div class="box wide">
  <div class="legend right">
    <%= link_to_different_page('Não Lidas',   replies_unread_path) %> |
    <%= link_to_different_page('Todas',      replies_path) %> |
    <%= link_to_different_page('Comentários', replies_comments_path) %> |
    <%= link_to_different_page('Histórias',  replies_stories_path) %>
  </div>

  <div class="legend">
    <%= @heading %>
  </div>

  <% if @replies.present? %>
    <ol class="comments comments1">
      <% @replies.each do |reply| %>
        <li class="comments_subtree">
          <%= render "comments/comment",
              comment: reply.comment,
              show_story: true,
              is_unread: reply.is_unread,
              show_tree_lines: false %>
          <ol class="comments"></ol>
        </li>
      <% end %>
    </ol>
  <% else %>
    <p class="help">Nenhuma resposta a ser exibida.</p>
  <% end %>

  <% if @replies.count > RepliesController::REPLIES_PER_PAGE && @filter != 'unread'%>
  <div class="morelink">
    <% if @page && @page > 1 %>
      <a href="/replies<%= @page == 2 ? "" : "/page/#{@page - 1}" %>">&lt;&lt;
        Page <%= @page - 1 %></a>
    <% end %>

    <% if @replies.any? %>
      <% if @page && @page > 1 %>
        |
      <% end %>

      <a href="/replies/page/<%= @page + 1 %>">Page
        <%= @page + 1 %> &gt;&gt;</a>
    <% end %>
  </div>
  <% end %>

  <div class="help">
    <% case action_name
       when "all" %>
      Todas as respostas às suas histórias e comentários, ordenadas por data.
    <% when "comments" %>
      Todas as respostas aos seus comentários, ordenadas por data.
    <% when "unread" %>
      Novas respostas às suas histórias e comentários que você ainda não viu nesta página ou na páginas das histórias.
    <% when "stories" %>
      Todas as respostas às histórias que você enviou, ordenadas por data.
    <% end %>
  </div>
</div>