<p>
Convites são ilimitados, mas pessoas convidadas por você estarão associadas à
sua conta através da <a href="/u">user tree</a> e você pode ser responsabilizado
se elas causarem problemas. Use seus convites com cuidado e não convite pessoas
que você não conhece pessoalmente.
</p>

<%= form_tag invitations_path, :method => :post do |f| %>
  <% if defined?(return_home) && return_home %>
    <%= hidden_field_tag :return_home, 1 %>
  <% end %>

  <div class="boxline">
    <%= label_tag :email, "Endereço de E-mail:", :class => "required" %>
    <%= email_field_tag :email, "", :size => 30, :autocomplete => "off" %>
  </div>

  <div class="boxline">
    <%= label_tag :memo, "Mensagem:", :class => "required" %>
    <%= text_field_tag :memo, "", :size => 60 %>
  </div>

  <div class="boxline">
    <p></p>
    <%= submit_tag "Enviar Convite" %>
  </div>
<% end %>

