<div class="box wide">
  <div class="legend right">
    <%= link_to "Sair", { :controller => "login", :action => "logout" },
      :data => { :confirm => "Você tem certeza que quer sair?" },
      :method => "post" %>
  </div>
  <div class="legend">
    Configurações da Conta (<a href="/u/<%= @user.username %>">Ver Perfil</a>)
  </div>

  <%= form_for @edit_user, :url => settings_path, :method => :post,
  :html => { :id => "edit_user" } do |f| %>
    <%= error_messages_for f.object %>

    <div class="boxline">
      <%= f.label :username, "Nome de Usuário:", :class => "required" %>
      <%= f.text_field :username, :size => 15 %>
      <span class="hint">
        <tt><%= User.username_regex_s %></tt>
      </span>
    </div>

    <div class="boxline">
      <%= label_tag :current_password, "Senha Atual:",
        :class => "required" %>
      <%= password_field_tag :current_password, nil, :size => 40 %>
    </div>

    <div class="boxline">
      <%= f.label :password, "Nova Senha:", :class => "required" %>
      <%= f.password_field :password, :size => 40, :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :password_confirmation, "Confirme a Senha:",
        :class => "required" %>
      <%= f.password_field :password_confirmation, :size => 40,
        :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :email, "Endereço de E-mail:", :class => "required" %>
      <%= f.email_field :email, :size => 40 %>
    </div>

    <div class="boxline">
      <%= f.label :about, "Sobre:", :class => "required" %>
      <%= f.text_area :about, :size => "100x5", :style => "width: 600px;" %>
    </div>

    <div class="box">
      <div class="boxline markdown_help_toggler" style="margin-left: 9em;
      width: 600px;">
        <div class="markdown_help_label">
          Formatação disponível em Markdown
        </div>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp" %>
      </div>
    </div>

    <p>
    <%= f.submit "Salvar Configurações da Conta" %>
    </p>

    <br>

    <div class="legend">
      Contas Externas
    </div>

    <div class="boxline">
      <%= label_tag :gravatar,
        raw("<a href=\"https://gravatar.com/\">Gravatar</a>:"),
        :class => "required" %>
      <span>
        Seu avatar vai ser cacheado do ícone de Gravatar do seu endereço de e-mail
        acima.
        (<%= link_to "Expirar cache", "/avatars/expire", :method => :post %>)
      </span>
    </div>

    <% if Pushover.enabled? %>
      <div class="boxline">
        <%= label_tag :pushover_user_key,
          raw("<a href=\"https://pushover.net/\">Pushover</a>:"),
          :class => "required" %>
        <span>
        <%= link_to((@edit_user.pushover_user_key.present??
          "Manage Pushover Subscription" : "Subscribe With Pushover"),
          "/settings/pushover_auth", :class => "pushover_button",
          :method => :post) %>
        <span class="hint">
          For optional comment and message notifications below
        </span>
        </span>
      </div>
    <% end %>

    <% if Github.enabled? %>
      <div class="boxline">
        <span>
        <%= label_tag :github_username,
          raw("<a href=\"https://github.com/\">GitHub</a>:"),
          :class => "required" %>
        <% if @edit_user.github_username.present? %>
          Linked to
          <strong><a href="https://github.com/<%= h(@edit_user.github_username)
            %>"><%= h(@edit_user.github_username) %></a></strong>
            (<%= link_to "Disconnect", "/settings/github_disconnect",
              :method => :post %>)
        <% else %>
          <a href="/settings/github_auth">Conectar</a>
        <% end %>
        </span>
      </div>
    <% end %>

    <% if Twitter.enabled? %>
      <div class="boxline">
        <%= label_tag :twitter_username,
          raw("<a href=\"https://twitter.com/\">Twitter</a>:"),
          :class => "required" %>
        <span>
        <% if @edit_user.twitter_username.present? %>
          Linked to
          <strong><a href="https://twitter.com/<%= h(@edit_user.twitter_username)
            %>">@<%= h(@edit_user.twitter_username) %></a></strong>
            (<%= link_to "Disconnect", "/settings/twitter_disconnect",
              :method => :post %>)
        <% else %>
          <a href="/settings/twitter_auth">Conectar</a>
        <% end %>
        </span>
      </div>
    <% end %>

    <br>

    <div class="legend">
      Segurança
    </div>

    <div class="boxline">
      <%= f.label :twofa, "Two-Factor Auth:", :class => "required" %>
      <span>
      <% if @edit_user.totp_secret.present? %>
        <span style="color: green; font-weight: bold;">
          Ativado
        </span> (<a href="/settings/2fa">Desativar</a>)
      <% else %>
        Desativado (<a href="/settings/2fa">Ativar</a>)
      <% end %>
      </span>
    </div>

    <br>

    <div class="legend">
      Notificações para Respostas a Comentários
    </div>

    <div class="boxline">
      <%= f.label :email_replies, "Receber E-mail:", :class => "required" %>
      <%= f.check_box :email_replies %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_replies, "Receber Alerta:",
        :class => "required" %>
      <%= f.check_box :pushover_replies %>
      <span class="hint">
        Requer assinar alertas Pushover acima
      </span>
    </div>

    <br>

    <div class="legend">
      Notificações para Menções em Comentários
    </div>

    <div class="boxline">
      <%= f.label :email_mentions, "Receber E-mail:", :class => "required" %>
      <%= f.check_box :email_mentions %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_mentions, "Receber Alerta:",
        :class => "required" %>
      <%= f.check_box :pushover_mentions %>
      <span class="hint">
        Requer assinar alertas Pushover acima
      </span>
    </div>

    <br>

    <div class="legend">
      Notificações para Mensagens Privadas
    </div>

    <div class="boxline">
      <%= f.label :email_messages, "Receber E-mail:", :class => "required" %>
      <%= f.check_box :email_messages %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_messages, "Receber Alerta:",
        :class => "required" %>
      <%= f.check_box :pushover_messages %>
      <span class="hint">
        Requer assinar alertas Pushover acima
      </span>
    </div>

    <br>

    <div class="legend">
      Comentários em Histórias Enviadas
    </div>

    <div class="boxline">
      <%= f.label :show_submitted_story_threads,
        raw("Mostrar em <a href=\"/threads\">Discussões</a>:"),
        :class => "required" %>
      <%= f.check_box :show_submitted_story_threads %>
    </div>

    <br>

    <div class="legend">
      Lista de E-mails
    </div>

    <p>
    Quando ativado, você irá receber novas histórias e comentários em seu
    endereço de email. Todas os emails serão enviados através da lista de
    endereço privada abaixo podendo assim ser filtados, e emails que você
    enviar para este endereço serão postados em sua conta no site. Tome
    cuidado portanto para manter esse endereço seja mantido em privado e
    outras pessoas não postem em sua conta.

    <div class="boxline">
      <%= f.label :mailing_list_mode, "Receber E-mails:",
        :class => "required" %>
      <%= f.select :mailing_list_mode, [ [ "Nenhum e-mail", 0 ],
        [ "Todas as histórias e comentários", 1 ], [ "Apenas histórias", 2 ] ] %>
    </div>

    <div class="boxline">
      <label class="required">Endereço da Lista:</label>
      <span>
      <tt><%= Rails.application.shortname %>-<%=
        @edit_user.mailing_list_token %>@<%= Rails.application.domain %></tt>
      </span>
    </div>

    <br>
    <%= f.submit "Salvar Todas as Configurações" %>
  <% end %>

  <br>
  <br>

  <a name="invite"></a>
  <div class="legend">
    Convidar Novo Usuário
  </div>

  <% if @user.can_invite? %>
    <%= render :partial => "users/invitationform" %>
  <% else %>
      Você não possui permissão para enviar convites: <%= @user.disabled_invite_reason %>
  <% end %>

</div>
