<div class="box wide">
  <div class="legend">
    Entrar
  </div>

  <% if Rails.application.read_only? %>
    <p>
    The site is currently in read-only mode for maintenance.
    </p>
  <% else %>
    <%= form_tag login_path do %>
    <p>
      <%= label_tag :email, "E-mail ou Usuário:" %>
      <%= text_field_tag :email, "", :size => 30, :autofocus => "autofocus" %>
      <br />

      <%= label_tag :password, "Senha:" %>
      <%= password_field_tag :password, "", :size => 30 %>
      <br />
      </p>

      <p>
      <%= submit_tag "Entrar" %>
      </p>

      <p>
      Esqueceu sua senha?
        <%= link_to "Resetar senha", forgot_password_path %>.
      </p>

      <% if Rails.application.open_signups? %>
        <p>
          Não é um usuário ainda? <a href="/invitations/open">Cadastre-se aqui</a>.
        </p>
      <% else %>
        <p>
        Não é um usuário ainda? O cadastro é apenas através de convites, para evitar
        spam e trolls, e estimular discussões de qualidade. Se você conhece algum <a
        href="/u/">atual usuário</a> do site, peça um convite. Caso contrário,
        preencha o <a href="https://goo.gl/forms/yiDFUn6W7Ji805kc2" target="_blank">
        formulário de aplicação</a> e nos conte um pouco mais sobre você.
        </p>
      <% end %>

      <% if @referer.present? %>
        <%= hidden_field_tag :referer, @referer %>
      <% end %>
    <% end %>
  <% end %>
</div>
